<div class="container">

    <h3>CRIAR ORDEM DE SERVIÇO</h3>

    <div class="labels">

        <mat-form-field appearance="fill">
            <mat-label>Selecione um técnico</mat-label>
            <mat-select [(value)]="os.tecnico">
                <mat-option *ngFor="let tecnicos of tecnicos" value="{{ tecnicos.id }}">{{tecnicos.nome}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Selecione um Cliente</mat-label>
            <mat-select [(value)]="os.cliente">
                <mat-option *ngFor="let clientes of clientes" value="{{ clientes.id }}">{{clientes.nome}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Selecione um Status</mat-label>
            <mat-select [(value)]="os.status">
                <mat-option value="0">ABERTO</mat-option>
                <mat-option value="1">EM ANDAMENTO</mat-option>
                <mat-option value="2">ENCERRADO</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Selecione uma Prioridade</mat-label>
            <mat-select [(value)]="os.prioridade">
                <mat-option value="0">BAIXA</mat-option>
                <mat-option value="1">MEDIA</mat-option>
                <mat-option value="2">ALTA</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <form class="form">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Adicione as Observações da Ordem de Serviço</mat-label>
            <textarea [(ngModel)]="os.observacoes" name="observacoes" matInput maxlength="255"></textarea>
        </mat-form-field>
    </form>

    <button class="mat-elevation-z8" (click)="create()" mat-flat-button color="accent">Criar</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-flat-button color="warn">Cancelar</button>

</div>