.container {
    width: 80%;
    margin: auto;
}

.labels {
    display: flex;
    justify-content: space-between;
}

.full-width {
    width: 100%;
}

textarea {
    min-height: 4rem;
    max-height: 20rem;
}

button {
    margin-right: 5px;
}

h3 {
    text-align: center;
    margin-bottom: 2rem;
}